{% extends "home/base.html" %}
{% load static %}


{% block content %}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitaran</title>

    <link rel="stylesheet" type="text/css" href="{% static 'home/main12.css' %}">


    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <main>
        <div class="pagecontent" >
          <div><article >
            <h2>What Vitaran does ?</h2>
                <p>Vitaran is designed to take a step  further in the development of smart  cities by 
                    enabling efficient delivery  system within cities to help locals  and provide a source of income to  them without being associated with  a brand.It is a small step in creating smart India  with efficient door to door delivery systems with well planned tracking system and authenticating people.</p>
                <h2>How Vitaran is different ?</h2>
                <h3>Pool delivery </h3>
                    <p>Vitaran offers pool delivery system of the products 
                        which also helps in creating clean environment.and promoting goodwill and harmony among the society.</p>
                <h3>Connecting local</h3>
                    <p>Vitaran introduces a new platform where local logistic providers and consumers can  interact and connect.  The platform will provide an equal chance to rookie to compete  with other heavy logistics companies. One-to-one interaction between consumers and dealers remove the concept of middleman in this sector, hence normalizing the prices.</p>
                <h3>Part time source of income</h3>
                    <p> It will open doors to new job opportunities for both full time and part time employment facilities to people of any profession and promote self dependency among all citizens. Anyone can become the part of the delivery chain within 24 hours after proper  authentication</p>
                    <h3>FLEXIBLE PRICING</h3>
                    <p>With Vitaran, local logistic providers and consumers can  interact and connect, along with negotiating over the prices to enable easy  door-to-door delivery of goods irrespective of their weight or size and their distance  of transportation within the minimum price and time.The users can avail  both fixed as well as bidding pricing systems .
                    </p>
            
                    
                </article>
        </div>   </div> 
    </main>
    {% endblock content %}